<%- include header_stores %>

 <header class="search-header element-shadow" id="search-header">

        <section class="d-flex flex-row justify-content-between">
            <section>

            </section>
            <section class="search-module d-flex flex-column justify-content-between flex-grow-1">

                <section class="login-form ">
                    <form id="search">
                        <div class="input-container">
                            <input type="text" name="searchbar" placeholder="Search stores" maxlength="24" id="search">
                            <img src="../images/is_serch.png" class="search-img">

                        </div>
                    </form>
                    
                </section>

                <section class="d-flex flex-row justify-content-between 
                    align-items-center">

                    <section>

                    </section>

                    <section class="d-flex flex-column justify-content-around">

                        <section class="title text-shadow">
                            STORES
                        </section>

                        <section class="detail-title" >
                            (<%= storeCount %> stores)
                        </section>

                    </section>

                    <section>



                    </section>

                </section>
            </section>
            <section>

            </section>
        </section>

<button id="logoutButton" type="button" class="btn btn-light"  onclick="location.href = '/logout';">Log Out</button>


        <button  onclick="location.href = '/stores/new';" id="addButton" type="button" class="btn btn-info btn-circle btn-xl" value="Submit">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        
    </header>

    <section class="main-content">
        <table class="table table-striped">
            <thead class="columns">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Street</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Type</th>
                    <th scope="col">Product Count</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="rows">
             <% stores.forEach(function(item){ %>
                <tr>
                  
                    <td><%= item.name %></td>
                    <td><%= item.city %></td>
                    <td><%= item.street %></td>
                    <td class="row-rate" style="color: <%= item.rating <2.5 ? 'red' : item.rating <3.5  ? 'orange' : 'green' %>;"><%= item.rating %></td>
                    <td>
                    
                        <img src="../images/<%= item.type %>.png" class="row-img">
                    </td>
                    <td><%= item.productCount %> db</td>
                    <td>
                        <div class="d-flex flex-row bd-highlight">
                            <button onclick="location.href = '/products/<%= item.id %>';" id="detailsButton" type="button" class="details-button element-shadow " value="Submit">
                                <span>
                                    SHOW
                                </span>
                            </button>

                            <a href = "/stores/<%= item.id %>/edit" id="editButton" class="edit-button element-shadow">
                                <img src="../images/edit.png" class="button-img" >
                               
                            </a>
                            <button onclick="location.href = '/stores/<%= item.id %>/delete';" id="deleteButton" type="button" class="button-border delete-button element-shadow"value="Submit">
                                <img src="../images/trash.png" class="button-img">
                            </a>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>



    </section>


    

<% include footer_stores %>